.staff-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.825)), url('https://img.freepik.com/free-photo/coworkers-team-working-brainstorming-concept_329181-11984.jpg?ga=GA1.1.132014876.1707307712&semt=ais_hybrid') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
    object-fit: cover;
    position: relative;
    padding: 120px;
}
.services1-banner>div{
    position: absolute;
    
    top: 220px !important;
}
.staff-banner button{
    background: rgba(201, 197, 197, 0.265);
}
.consult>div>div{
    min-width: 280px;
}

.consult1{
    margin-top: 180px !important;
}
.consult1>div>div i{
    color: orangered;
    font-size: 30px;
    background: rgba(100, 99, 99, 0.362);
    padding: 10px 12px !important;;
    border-radius: 50%;
}
.consult1>div>div{
    padding: 20px !important;
    max-width: 270px !important;
    background: rgba(115, 118, 115, 0.297);
    border-radius: 10px !important;
}
.consult1>div>div:hover{
   border: 1px solid orangered;
}
.consult1>div>div:hover i{
    color: orangered;
}
.benefits{
    margin-top: 120px;
}
.benefits>div>div{
    background: rgba(158, 155, 155, 0.317);
    padding: 20px;
    border-radius: 15px;
    max-width: 380px;
  
}
.benefits>div>div:hover{
    border: 1px solid orangeRed;
}
.ready button{
    background: orangered;
}
@media (max-width:768px){
    .staff-banner{
        min-height: 40vh;
    }
}