.contact-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.825)), url('https://img.freepik.com/premium-photo/girl-wearing-red-sweater-with-black-strap-her-shoulder_862994-530789.jpg?ga=GA1.1.132014876.1707307712&semt=ais_hybrid') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 70vh;
    object-fit: contain;
    position: relative;
    padding: 120px;
}
.contact{
    max-width: 80%;
    margin: auto;
}
.contact>div {
    margin-top: 120px;
}
.contact-card{
    border: 1px solid orangered;
    padding: 15px;
    border-radius: 12px;
    min-width: 320px;
}
.contact-banner p{
    max-width: 60% !important;
}
.contact-banner>div{
    position: absolute;
    
    top: 220px !important;
}
.icon{
    color:orangered !important;
}
.contact input, .contact select, .contact textarea{
    background-color: transparent;
    border: none;
    outline: none;
}
.contactForm>div{
   width: 50%;
}
.contactForm img{
    width: 100%;
}
.contact input, .contact select, .contact textarea{
    border: 1px solid gray !important;
    border-radius: 10px;
    padding: 10px;
    color: gray !important;
}
.contactForm>div:last-child i{
  color: orangered;
}
.contact .send{
    background: orangered;
    max-width: fit-content;
    padding:2px 14px;
    border-radius: 10px;
}

@media (max-width:768px){
    .contactForm{
        flex-direction:column
    }
    .contact-banner{
        min-height: 40vh;
    }
}